<div class="view view--{{ size }}">
  {% render 'calendar_canvas',
    trmnl: trmnl,
    data: data,
    view_size: 'full',
    f_scale: 1.0,
    gutter_width: "10vw",
    side_padding: "3vw"
  %}
</div>
