<div class="view view--{{ size }}">
  {% render 'calendar_canvas',
    trmnl: trmnl,
    data: data,
    view_size: 'half',
    f_scale: 0.9,
    gutter_width: "5vw",
    side_padding: "0vw"
  %}
</div>
